/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

p{
  font-family: dunbar-tall, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #666666;
  line-height: 1.25;
  font-size: 18px;
}

h1{
  font-family: dunbar-text, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #666666;
  margin-bottom: 40px;
}

button{
  font-family: dunbar-tall, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #669999;
  color: white;
  padding: 10px 20px;
  border-radius: 12px;


}
/*header and navbar*/

.nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 40px;
}

.nav-left-wrapper{
  display:flex;
  flex-direction: row;
  min-width: 40%;
  align-items: center;
}

.logo{
  max-width: 120px;
  margin: 20px;
}


.title {
  font-family: alternate-gothic-no-2-d, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: #669999;
  margin-left: 40px;
}

.title-2{
  font-family: alternate-gothic-no-2-d, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: #666666;
}

.nav-right-wrapper{
  display:flex;
  flex-direction: row;
  justify-content: end;
  min-width: 40%;
  align-items: center;
}

.header-nav-link{
  list-style: none;
  margin-right: 20px;
  font-family: dunbar-tall, sans-serif;
  font-weight: 400;
  font-style: normal;
  Color: #666666;

}

.navlist{
  display:flex;
  flex-direction: row;
}

.connect-wallet{
  margin-right: 20px;  
  margin-left: 40px;   
}



/*hero section*/

.hero{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 60px;
}

.hero-left-column{
  margin-left: 20px;
  max-width: 40%;
  margin-right: 20px;
}

.hero-copy{
  max-width: 420px;
  margin-bottom: 40px;
}



.hero-right-column{
  display: flex;
  flex-direction: row;
  margin-right: 60px;
  
  
}

.hero-image {
  max-height: 280px;
  margin-right: 10px;
  margin-top: 20px;
}



/*landing-page sections*/

.landing-page-images{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 20px;
}

.landing-images{
  min-width: 23%;
  max-width: 25%;
  margin-right: 10px;
  margin-top: 60px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
