/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.logo{
  max-width: 120px;
  margin: 20px;
}

.landing-page-images{
  display: flex;
  flex-direction: row;
}

.landing-images{
  max-width: 23%;
  margin-right: 10px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
